<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="suite" verbose="1">
	<listeners>
		<listener class-name="retryAnalyzer1.MyTransformer"></listener>
	</listeners>
	<test name="RetryfailedTest">
		<classes>
			<class name="com.MySeleniumProject.RetryTest"></class>
		</classes>
	</test>
</suite>